---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	margin: 0;
}

// Some Style Variables
$primary-color: #36465f;
$secondary-color: #464646;
$error: #de3535;
$success: #d5f5d7;

$max-width: 960px;

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;

$font-size: 16px;
$font-family: Helvetica, sans-serif;
$alt-font-family: monospace;
$font-color: #353535;

/* Social Icons */
$twitter: #78cdf0 !default;
$facebook: #537bbd !default;
$instagram: #517fa4 !default;
$youtube: #d34836 !default;
$snapchat: #fffc00 !default;
$pinterest: #cb2027 !default;
$google: #dd4b39 !default;

section.main {
  margin: 0 auto;
  padding: 40px 10px;
}

img.logo {
  display: block;
  margin-bottom: 40px;
  max-width: 400px;
  width: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
  }
}

footer {
}

@media all and (min-width: 400px) {
  section.main, footer {
    margin: 0 auto;
    max-width: 500px;
  }
  .columns {
    max-width: 500px;
    -moz-column-count: 2;
    -moz-column-gap: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
  }
}

.map {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%; // This is the aspect ratio
    position: relative;
}

.map iframe {
    height: 100% !important;
    left: 0;
    max-height: 400px;
    max-width: 500px;
    position: absolute;
    top: 0;
    width: 100% !important;
}

div.artists {
  margin-top: 40px;
}

footer {
  padding: 0 10px;
  margin: 0 auto;
}

a, a:visited {
  color: #6fa8ce;
}
