---
layout: default
fulltitle: "artBangall"
---

<section class="main">
  <img class="logo" src="{{ "img/logo.png" | relative_url }}" />

  <p>
    <b>Curated by</b>
    <br/>
    <a href="http://amandacbrown.com">Amanda Brown</a>
    &amp;
    <a href="http://stephaniedelcarpio.com">Stephanie Del Carpio</a>
  <p>

  <p>
    <b>About</b>
    <br/>
    <br/>
    artBangall was a pop-up art exhibition set in the backdrop of a vacant
    former restaurant in the hamlet of Bangall, NY. A playful riff on today’s
    contemporary art fairs, the show featured the work of thirty-five emerging
    artists working in painting, drawing, sculpture, and photography in an
    unconventional space. artBangall’s intention was to make use of and
    revitalize a vacant Hudson Valley storefront with a vibrant and diverse art
    show. The show was curated by two artists, Amanda Brown and Stephanie Del
    Carpio, both based in New York City.
  </p>

  <div class="artists">
    <p>
      <b>Artists</b>
    </p>

    <ul class="columns">
      {% for artist in site.data.artists %}
        <li>
          {% if artist.url %}
            <a href="{{ artist.url }}" target="_blank">{{ artist.name }}</a>
          {% else %}
          {{ artist.name }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <p>
    <b>Address</b>
    <br/>
    97 Hunns Lake Road
    <br>
    Bangall, NY 12506
  </p>

  <p>
    <b>Contact</b>
    <br/>
    <a href="mailto:info@artbangall.com">info@artbangall.com</a>
  </p>

  <div class="map">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCHi7TRc_zz37hT30R4JAHXS07jWulvl3A&q=97-103+Hunns+Lake+Rd,+Stanfordville,+NY+12581" allowfullscreen>
    </iframe>
  </div>
</section>

<footer>
  <p>
    artBangall &#169; {{ site.time | date: "%Y" }}
  </p>
</footer>
