---
layout: default
fulltitle: "Survey Survey"
---

<section class="main">
  <img class="logo" src="{{ "img/logo.png" | relative_url }}" />
  <p>July 20 &mdash; August 10</p>

  <p>
    <b>Curated by</b>
    <br />
    <a href="http://amandacbrown.com">Amanda Brown</a>
    &amp;
    <a href="http://stephaniedelcarpio.com">Stephanie Del Carpio</a>
  <p>

  <p>
    <b>Opening Reception</b>
    <br />
    Saturday, July 20th, 2&ndash;8pm
  </p>

  <p>
    <b>Film Screening at 7pm</b>
    <br />
    <b>Confederitis</b>
    <br />
    A film by Rbt. Sps. &amp; Jillian McManemin
  </p>

  <div class="artists">
    <p>
      <b>Artists</b>
    </p>

    <ul class="columns">
      {% for artist in site.data.artists %}
        <li>
          {% if artist.url %}
            <a href="{{ artist.url }}" target="_blank">{{ artist.name }}</a>
          {% else %}
          {{ artist.name }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <p>
    <b>Address</b>
    <br/>
    <a href="https://www.5hartsrd.com">5 Harts Rd</a>
    <br>
    5 Van Nostrand Road
    <br>
    Dover Plains, NY 12522
  </p>

  <p>
    <b>Contact</b>
    <br/>
    <a href="mailto:info@surveysurvey.art">info@surveysurvey.art</a>
  </p>

  <div class="map">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCHi7TRc_zz37hT30R4JAHXS07jWulvl3A&q=5+Van+Nostrand+Road,+Dover+Plains,+NY+12522" allowfullscreen>
    </iframe>
  </div>
</section>

<footer>
  <p>
    Survey Survey &#169; {{ site.time | date: "%Y" }}
  </p>
</footer>
